{% extends 'base.html.twig' %}

{% block title %}
    A propos de moi, je te dis tout
{% endblock %}

{% block body %}
    <div class="container">
        <h3>TOUT COMMENCE PAR UNE HISTOIRE D'AMOUR ...</h3>
        <p>
            Je vivais en colocation dans un appartement bordelais en 2019. L'un de mes colocataires travaillait dans un
            magasin bio et ramenait souvent les invendus.
            <br>
            Des pauvres fruits et plantes dont personne n'avait voulu.
        </p>
        <p>
            Mais moi, je les aimais quand même, malgré leurs peaux flétries et leurs corps abîmés par les mains des
            client.e.s exigeant.e.s.
            <br>
            Alors je leur ai dis (oui, certain.e.s parlent à l'oreille des chevaux, moi je parle aux aliments):
            <br>
            "Ne vous inquiétez pas, je vais m'occuper de vous, vous n'êtes pas morts pour rien, vous ne finirez pas aux
            ordures".
        </p>
        <p>
            Je vivais en colocation dans un appartement bordelais en 2019. L'un de mes colocataires travaillait dans un
            magasin bio et ramenait souvent les invendus.
            <br>
            Des pauvres fruits et plantes dont personne n'avait voulu.
        </p>
        <p>
            Mais moi, je les aimais quand même, malgré leurs peaux flétries et leurs corps abîmés par les mains des
            client.e.s exigeant.e.s.
            <br>
            Alors je leur ai dis (oui, certain.e.s parlent à l'oreille des chevaux, moi je parle aux aliments):
            <br>
            "Ne vous inquiétez pas, je vais m'occuper de vous, vous n'êtes pas morts pour rien, vous ne finirez pas aux
            ordures".
        </p>
        <p>
            C'était l'été, il faisait chaud, et nous avions plus soif que faim, alors j'ai commencé à confectionner des
            thés
            glacés et des sirops pour redonner de la valeur aux merveilles que la nature nous offre et qui ont été
            négligées.
            <br>
            Puis, de sucre en casserole, j'ai fini par mélanger mes sirops à de la bière, puis à mes vinaigrettes et à
            mes
            salades de fruits, et je me suis dis (oui je me parle toute seule aussi, je ne parle pas qu'aux fruits et
            aux
            plantes):
            <br>
            "Marie, tu ne peux pas garder ça pour toi plus longtemps, il faut que tout le monde en profite !"
        </p>
        <p>
            Alors BOOM, en 2020 j'ai fini par la créer, cette marque de sirop remplie d'amour.
            <br>
            Après 9 mois de gestation, Gødness Yprine est née, sous la bénédiction de 4 Déesses.
        </p>
        <h3>... D'AMOUR AU NATUREL !</h3>
        <p><strong>Mais alors pourquoi t'as voulu utiliser des plantes et pas des fruits ?</strong></p>
        <p>
            La vérité c'est que l'on ne prend pas soin de nous, la nourriture, qui nous est vendue, est mauvaise,
            remplie de maladies, et par conséquent, nous aussi, nous sommes malades.
            <br>
            Manger des animaux sous antibiotiques ne peut que nous rendre malade.
            <br>
            Acheter des légumes et des fruits boostés par des substances chimiques ne va pas faire du bien à notre
            corps.
            <br>
            Et consommer des sucres rapides du plat tout prêt, au biscuit du soir, en passant par la boisson, ça fait
            beaucoup de mauvais sucres à traiter pour un corps qui n'en a même pas besoin...
        </p>
        <p>
            Mais généralement, même quand nous sommes informé.e.s, nous ne prenons pas le temps de "mieux" manger,
            <br>
            soit parce que nous n'avons pas les moyens d'acheter différemment,
            <br>
            soit parce que nous n'avons pas le temps de faire les commissions chez les primeurs, bouchers, poissonniers
            ou épiceries et qu'il est plus rapide d'acheter en un lieu, même si c'est réellement de mauvais produits,
            <br>
            soit parce que flemme, voilà c'est tout.
            <br>
            Et peu importe la raison, moi je me dis que ce n'est pas à nous de consommer mieux, mais c'est aux
            entreprises de mieux nous nourrir.
        </p>
        <p>
            Alors j'ai décidé de participer aux changements, en nous proposant de boire du sirop 100% plaisir, avec en
            bonus de l'amour, pour la nature et pour notre corp.
            <br>
            Car oui, c'est bon de boire, mais c'est meilleur quand on le fait bien.
        </p>
        <p>
            C'est pour cela que j'ai sélectionné pour les sirops des plantes fraîches et séchées qui poussent dans des
            pépinières biologiques, et récoltées par ce que j'appelle "des cultivateurs d'amour".
            <br>
            Le sucre est bio aussi mais à vrai dire, ça, on s'en fout.
            <br>
            Ne vous énervez pas, je vais vous expliquer pourquoi...
        </p>
        <h3>HA LE BIO COUP DE COM' !</h3>
        <p>
            Bon alors qu'on se le dise, bio ça ne veut pas dire sans pesticides, ça veut dire sans traitement extérieur
            aux pesticides, et il ne faut pas se leurrer, les terres ne sont pas propres, il faut plus de 10 ans pour
            qu'une terre retrouve un sol sain, alors, ne plus traiter les sols aux pesticides c'est bien, mais ne soyez
            pas pressé.e, vous ne profiterez d'une culture assainie que dans quelques années.
        </p>
        <p>
            Attention, traiter les cultures de façon bio est indispensable aujourd'hui si l'on souhaite bénéficier au
            plus vite d'une nature salutaire, vraiment, je ne maudis pas le bio, je maudis les groupes qui nous font
            croire que leurs produits bio sont sains, mais qui oublient de nous préciser ce que j'ai écris juste au
            dessus.
        </p>
        <p><strong>Alors comment faire pour "bien faire" ?</strong></p>
        <p>
            Il faut se tourner vers la permaculture, en bref, la permaculture c'est une culture permanente (élémentaire
            mon cher Watson).
            <br>
            Et plus sérieusement, c'est une culture qui respecte les terres et les microbiomes, en gros qui respecte la
            chair et la peau de notre Terre-Mère. Cette culture s'adapte au rythme de la nature, contrairement aux
            cultures actuelles qui détruisent les microbiomes et forcent les terres, via des substances chimiques, à
            recréer des sols fructueux (et donc rentables).
        </p>
        <p>
            Mais imaginez-vous, dans la peau de notre planète ...
            <br>
            On serait pelé.e.s, enlevant chaque morceaux de peau de notre corps, puis aspergé.e.s de produits pour que
            la peau ne repousse plus.
            <br>
            Notre chair serait creusée tout les jours, retournée puis écrasée, pour être à nouveau creusée le lendemain.
            Évidemment, la chair à vif, nous serions régulièrement aspergé.e.s de produits pour continuer le traitement
            anti-repousse de notre peau
            <br>
            C'est ce que l'on fait à nos terres, c'est comme ça que l'on cultive aujourd'hui et ce depuis les années 60.
        </p>
        <p>
            Avant d'être aussi barbares, nous avions des techniques de cultures respectueuses que l'on a tant oublié,
            qu'il a fallu mettre un nom dessus, et c'est donc la permaculture.
        </p>
        <p>
            C'est vers cela que je tends, j'ai donc choisi des plantes considérées sauvages, qui poussent sur la peau de
            notre Terre-Mère et qui sont détruites par l'agriculture et ses méthodes barbares.
            <br>
            J'ai bon espoir qu'un jour la permaculture reprendra sa place, nos terres retrouveront leurs peaux, et mes
            petites plantes sauvages et messicoles prolifèreront à nouveau.
        </p>
        <h3>Check un coup si tu veux en savoir plus+</h3>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.jardiner-malin.fr/fiche/permaculture.html" frameborder="0"></iframe>
        </div>
        <h3>ET JUSTE POUR LE PLAISIR...</h3>
        <p>
            Je vais te raconter l'histoire du nom, Gødness Yprine
        </p>
        <p>
            Certains ont dû deviner pourquoi ce nom, les autres assoyez-vous, je vais vous parler d'amour et de femmes.
        </p>
        <p>
            Gødness, c'est un mix entre Goddess et Goodness, le premier veut dire déesse, le deuxième bienveillante,
            donc déesse bienveillante, jusque là on suit, mais je t'avoue Yprine, ça n'existe pas, par contre Cyprine
            oui, et la cyprine qu'est ce que c'est ?
            <br>
            C'est notre liquide lubrifiant féminin.
            <br>
            C'est notre eau de vie.
            <br>
            Notre nectar divin.
            <br>
            (Je ne force pas du tout, pourquoi dis-tu ça?)
        </p>
        <p>
            Et oui, le sirop des déesses, ça parle bien de sexualité. Mais sans tabou et sans obscénité.
            <br>
            Car après tout, pourquoi la cyprine serait tabou ? Puis au fond, c'est beaucoup plus poétique que le sperme,
            on a quand même de la chance, autant en parler.
            <br>
            Et en boire...
            <br>
            Non mais promis les sirops c'est que du sirop et des plantes, pas de liquides vaginales (je vois déjà les
            déçu.e.s).
        </p>
        <p>
            Et si lire tout ces mots relatifs aux organes de reproduction t'as mis mal à l'aise, c'est que l'on a encore
            un gros problème sur la sexualisation du corps.
            <br>
            Nos organes de reproduction ne sont pas là que pour le sexe mais aussi et surtout pour leurs fonctions
            anatomiques, et nous avons besoin de détacher la vision du corp de notre vision du sexe (ça marche aussi
            pour les tétons mais je n'ai pas prévu de faire une marque de boisson lactée, je préfère les sirops)
        </p>
        <p>
            Donc t'as compris maintenant pourquoi je l'ai appelé comme ça ?
            <br>
            J'ai enlevé le "C" parce que, grâce à Gødne"ss", "Cyprine" s'entend mais ne se lit pas, et je préfère cette
            forme là.
        </p>
        <h3>Tiens, cadeau, encore de la connaissance pour te la péter la prochaine fois au bar avec tes potes, je suis
            si cool !</h3>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.madmoizelle.com/cyprine-guide-fluide-sexuel-906903" frameborder="0"></iframe>
        </div>
        <p>
            <strong>ALORS T'ES CONTENT.E ?</strong>
            <br>
            Balance moi un petit script si t'as une question, une insulte ou un mot d'amour à m'envoyer
        </p>
    </div>
{% endblock %}

