{% extends 'base.html.twig' %}

{% block title %}
    Quelques idées partagées
{% endblock %}

{% block body %}
    <h3 class="text-center">
        Tu le savais ? Avec ta bouteille t'as à boire, à manger, et même de quoi
        décorer ta maison
        look at this
    </h3>
{% endblock %}

