<a href="{{ path('HOMEPAGE') }}">
    <img src="{{ asset('images/godness-yprine.png') }}" alt="Godness Yprine" class="img-fluid mx-auto d-block">
</a>
<h1 class="main-title">
    Godness Yprine
</h1>
<h2 class="sub-title">Ici se fabrique l'amour en sirop </h2>
