<div id="top-banner">
    <div class="overlay">
       <div class="container-fluid">
           <div class="row justify-content-center">
               <div class="col-md-4">
                   <div class="card">
                       <div class="card-body">
                           <h3><strong>Offre toi une expérience divine</strong></h3>
                           <p>SIROPS ARTISANAUX</p>
                           <a href="#" class="btn btn-custom-primary main-cta">
                               <span class="gradiant"></span>
                               <span class="text">Commander <i class="fa-solid fa-bottle-droplet"></i></span>
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </div>
</div>
