{% macro card() %}
    <div class="card">
        <img src="{{ asset('images/fake-picture.png') }}" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title">
                <strong>Vénus</strong>
            </h5>
            <p class="card-text">13.00 €</p>
            <a href="#" class="btn btn-sm btn-custom-primary text-white w-100">
                Ajouter au panier
            </a>
        </div>
    </div>
{% endmacro %}
